aiohttp==3.10.10
cohere==5.11.3
dateparser==1.2.0
faiss_cpu==1.9.0
langchain==0.3.6
langchain_cohere==0.3.1
langchain_community==0.3.4
langchain_core==0.3.15
numpy==1.26.4
PyPDF2==3.0.1
Requests==2.32.3
scikit_learn==1.5.2
streamlit==1.39.0
vaderSentiment==3.3.2
yarl==1.17.1
